html,body {
    width: 100%;
    height: 100%;
}

*{
    margin: 0%;
    padding: 0%;
}

.navbar {
    display: flex;
    column-gap: 20px;
    position: fixed;
    left: 0%;
    top: 0%;
    min-width:100%;
    height: auto;
    background-color: rgb(48, 52, 105);
    color: white;
    padding: 20px;
}


.navbar button {
    color: white;
    background-color: rgb(68, 153, 65);
    border-radius: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 5.5rem;
    height: 3rem;
}